[*.cs]
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1852.severity = none
